
<div class="flex justify-between items-center">
  <h2 class="text-2xl font-semibold">Liste des Locataires</h2>
  <button (click)="openAddModal()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
    Ajouter
  </button>
</div>


<div class="p-6">

  <div class="overflow-x-auto overflow-y-auto max-h-96 max-w-full rounded-lg shadow-lg border border-gray-200">
    <table class="min-w-[900px] w-full bg-white">
      <thead>
      <tr class="bg-blue-200 text-gray-700 text-sm md:text-base">
        <!-- En-têtes -->
        <th class="py-3 px-6 text-left">Nom</th>
        <th class="py-3 px-6 text-left">Prénom</th>
        <th class="py-3 px-6 text-left">Carte Identité</th>
        <th class="py-3 px-6 text-left">Téléphone</th>
        <th class="py-3 px-6 text-left">Situation Familiale</th>
        <th class="py-3 px-6 text-left">Email</th>
<!--        <th class="py-3 px-6 text-left">Password</th>-->
        <th class="py-3 px-6 text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let locataire of locataires" class="border-b hover:bg-gray-50 text-sm md:text-base">
        <td class="py-3 px-6">{{ locataire.nom }}</td>
        <td class="py-3 px-6">{{ locataire.prenom }}</td>
        <td class="py-3 px-6">{{ locataire.carteIdentite }}</td>
        <td class="py-3 px-6 ">{{ locataire.numeroTelephone }}</td>
        <td class="py-3 px-6">{{ locataire.situationFamiliale }}</td>
        <td class="py-3 px-6">{{ locataire.email }}</td>
<!--        <td class="py-3 px-6">{{ locataire.password }}</td>-->

        <!-- Colonne Actions -->
        <td class="py-3 px-6 flex space-x-2 justify-center">
          <!-- Bouton Edit -->
          <button
            (click)="editLocataire(locataire)"
            class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-1 rounded-md text-sm">
            Éditer
          </button>
          <button
            (click)="deleteLocataire(locataire.id)"
            class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-md text-sm">
            Supprimer
          </button>

          <button
            [routerLink]="['/admin/locataireDetails', locataire.id]"
            class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-md text-sm"
          >
            Voir détails
          </button>




        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <app-add-locataire
    *ngIf="showAddModal"
    (close)="closeAddModal()"
    (saved)="onLocataireAdded($event)">
  </app-add-locataire>

  <app-edit-locataire
    *ngIf="showEditModal"
    [locataire]="locataireToEdit"
    (close)="onEditClose()"
    (updated)="onLocataireUpdated($event)">
  </app-edit-locataire>




</div>
