
<nav class="bg-white shadow-md fixed w-full z-50">
  <div class="container mx-auto flex items-center justify-between p-4">
    <!-- Logo -->
    <a routerLink="/" class="text-2xl font-bold text-marine-blue">
      🏠 ImmoGestion
    </a>

    <!-- Boutons -->
    <div class="space-x-4">
<!--      <a routerLink="/home"-->
<!--         class="text-anthracite-grey hover:text-light-blue font-medium">Accueil</a>-->
<!--      <a routerLink="/service"-->
<!--         class="text-anthracite-grey hover:text-light-blue font-medium">Service</a>-->
      <button routerLink="/login"
              class="bg-light-blue text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
        Connexion
      </button>
    </div>
  </div>
</nav>

